<form action="">
  <div class="form-group" class="searchForm">
    <input type="text" class="form-control" placeholder="search usernames" [(ngModel)]="username" name="username"  (keyup)="findProfile($event.target.value)">
  </div>
</form>

    <div class="container">
      <div class="row profile-info">
        <div class="col-md-4">
          <img src="{{profile.avatar_url}}"  class="img-circle img-responsive" alt="Profile Image">
          <div *ngIf="profile">
              <div class="container">
                  <div class="row" class="profile-intro">
                    {{profile.name }} <small> ({{profile.login}}) </small>
                     <span *ngIf="profile.company">, works at {{profile.company}} </span>
                     {{profile.location}}
                  </div>
                  </div>
                </div>
        </div>
        <div class="col-md-2">
          <ul class="list-group">
            <li class="list-group-items" *ngIf="profile.bio"> {{profile.bio}} </li>
            <li class="list-group-items" *ngIf="profile.hireable"> Available for Hire</li>
            <li class="list-group-items" *ngIf="profile.blog"> {{profile.blog}} </li>
            <li class="list-group-items" *ngIf="profile.email"><a href="emailto:{{profile.email}}"> {{profile.email}}</a> </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="profileInfo">
            <p>
              <button type="button" class="btn btn-primary">{{profile.followers}} Followers</button>
              <button type="button" class="btn btn-success"> Following {{profile.following}} </button>
              <button type="button" class="btn btn-info">{{profile.public_gists}} Public gists</button>
              <button type="button" class="btn btn-secondary">{{profile.public_repos}} Public Repos</button>
            </p>
            <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View Profile on Github</a></p>
          </div>
        </div>
      </div>


    </div>

            <div class="container">
                <h3 class="repo-title">Repositories</h3>
              <div appHighlight class="card" *ngFor="let repo of repos">
                <div class="card-body">
                  <h4 class="card-title">{{repo.name}} </h4>
                  <p class="card-text">{{repo.description}}</p>
                  <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-info">View this project on Github</a>
                </div>
                </div>
              </div>







